<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.demo3.intel.mapper.ZnPromGoodsMapper">

	<delete id="deleteByMainId" parameterType="java.lang.String">
		DELETE 
		FROM  zn_prom_goods 
		WHERE
			 serialid = #{mainId} 	</delete>
	
	<select id="selectByMainId" parameterType="java.lang.String" resultType="org.jeecg.modules.demo3.intel.entity.ZnPromGoods">
		SELECT * 
		FROM  zn_prom_goods
		WHERE
			 serialid = #{mainId} 	</select>
</mapper>
